{% extends 'base.html.twig' %}

{% block title %}Alexey | Weather
{% endblock %}

{% block pageContent %}
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-400">Weather |
			<a href="{{ path('weather_settings') }}" class="fas fa-cog text-info"></a>
		</h1>
	</div>
	<div class="row">
		{% for weather in weather_data.getWeatherReadable().hourly %}
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card {% if weather.rain > 0  %} border-left-warning {% else %} border-left-success {% endif %} shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold {% if weather.rain > 0  %} text-warning {% else %} text-success {% endif %} text-uppercase mb-1">
									{{weather.time}} ({{weather.time.diffForHumans}})
								</div>
								<div class="h5 mb-0 font-weight-bold text-gray-500">
									{{weather.weather}}
									<br>{{weather.temperature}} °C
									{% if weather.rain > 0  %}<br>Rain: {{weather.rain}}{% endif %}
								</div>
							</div>
							<div class="col-auto">
								<img src="http://openweathermap.org/img/wn/{{ weather.weather_icon }}@2x.png">
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
