{% set table_data = [] %}
{% for post in feed.posts %}
    {% set has_thumbnail = post.thumbnail|length > 0 %}
    {% set row %}
    <a href="{{ post.uriOld }}" class="inline-unlinker{% if not has_thumbnail %} crawler-external-link{% endif %}" target="_blank" data-unlink-path="{{ path('crawler_reddit_post_dismiss', {id: post.id}) }}" data-unlink-parent="tr" data-unhide-replacement="true" data-replacement-container="tbody" data-replacement-selector="tr.hidden">{{ post.title }}</a>
    {% endset %}
    {% set actions %}
    <button class="fas fa-unlink inline-unlinker" data-unlink-path="{{ path('crawler_reddit_post_dismiss', {id: post.id}) }}" data-unlink-parent="tr" data-unhide-replacement="true" data-replacement-container="tbody" data-replacement-selector="tr.hidden"></button>
    {% if post.user|length > 0 %}
        <a class="ml-4" href="{{ path('crawler_reddit_banned_user_new', {username: post.userName}) }}">
            <i class="fas fa-ban"></i>
        </a>
        <a class="ml-4" href="{{ post.uriUserOld }}" target="_blank">
            {{ post.user }}
        </a>
    {% endif %}
    {% if has_thumbnail %}
        <a class="ml-4 crawler-external-link inline-unlinker" href="{{ path('crawler_reddit_post_preview', {id: post.id}) }}" target="_blank" data-unlink-path="{{ path('crawler_reddit_post_dismiss', {id: post.id}) }}" data-unlink-parent="tr" data-unhide-replacement="true" data-replacement-container="tbody" data-replacement-selector="tr.hidden">
            <i class="fas fa-external-link-alt"></i>
        </a>
    {% endif %}
    {% endset %}
    {% set table_data = table_data|merge([{
        'loop': loop.index ~ '. ',
        'time': post.publishTimereadable(locale),
        'actions': actions,
        'row': row
    }]) %}
{% endfor %}
{% if have_more_posts %}
    {% set reload_btn %}
      <a href="{{ path('crawler_index', {filter: filter}) }}"><i class="fas fa-sync"></i></a>
    {% endset %}
    {% set table_data = table_data|merge([{
        'loop': reload_btn,
        'time': reload_btn,
        'actions': reload_btn,
        'row': reload_btn
    }]) %}
{% endif %}

{% include 'table_body.html.twig' with {
    'tableData': table_data,
    'foldable': true,
} only %}
