{% extends 'base.html.twig' %}
{% set breadcrumbs = [
	{'name': 'menu_record'|localised('crawler'), 'href': path('crawler_index', {filter: '*'})},
	]
%}
{% set locale = app.request.locale %}

{% block javascripts %}
	{{ encore_entry_script_tags('addon-crawler') }}
{% endblock %}

{% block pageContentPrimary %}
	<div class="justify-center my-2 flex flex-wrap">
		{% for group in groups %}
			{% if group.channelCount > 0 %}
				<a class="{% if group.name is same as filter %}bg-nord9{% else %}bg-nord1{% endif %} py-1 my-1 px-4 shadow-md no-underline rounded-full text-white font-sans font-semibold text-sm border-blue btn-primary hover:text-white hover:bg-blue-light focus:outline-none active:shadow-none mr-2" href="{{ path('crawler_index', {filter: group.name}) }}">
					{{ group.name }}
				</a>
			{% endif %}
		{% endfor %}
	</div>
	{% set action_buttons = [
        {
            'color': 'nord10',
            'href': path('crawler_reddit_channel_groups'),
            'name': '',
            'icon': 'fas fa-layer-group'
       },
		{
            'color': 'nord10',
            'href': path('crawler_reddit_channel_new'),
            'name': '',
            'icon': 'fas fa-plus-circle'
       },
		{
            'color': 'nord10',
            'href': path('crawler_index', {filter: filter}),
            'name': '',
            'icon': 'fas fa-sync'
       }
	] %}
	{% include 'entity_actions_row.html.twig' with {
		'buttons': action_buttons,
	} only %}
{% endblock %}

{% block pageContentSecondary %}
	{% for feed in feeds %}
		{% set feed_name = '/r/' ~ feed.name %}
		{% set title %}
		<a href="https://old.reddit.com{{ feed_name }}" target="_blank">{{ feed_name }}</a>
		{% endset %}
		{% include 'table.html.twig' with {
			'tableTitle': title,
			'tableDataUrl': path('crawler_reddit_channel_table', {id: feed.id}),
			'buttons': [
				{
					'text': '<i class="fas fa-reply-all crawler-open-all-in-new"></i>'
				},
				{
					'text': '<i class="fas fa-unlink inline-unlinker" data-unlink-path="' ~ path('crawler_reddit_channel_dismiss', {id: feed.id, touchStamp: touchStamp}) ~ '" data-unlink-parent=".table-parent-node" data-unhide-replacement="false"></i>'
				},
				{
					'href': path('crawler_reddit_channel_edit', {id: feed.id}),
					'text': '<i class="far fa-edit"></i>'
				}
			],
			'foldable': true,
		} only %}
	{% endfor %}
{% endblock %}
