<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Alexey, the personal Personal Assistant">
		<meta name="author" content="Maciej Howański">

		<title>{% block title %}Alexey{% endblock %}</title>

		<!-- Custom fonts for this template-->
        {% block stylesheets %}
            {{ encore_entry_link_tags('alexey') }}
        {% endblock %}
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	</head>

	<body id="page-top">
		<!-- Page Wrapper -->
		<div id="wrapper">
			<!-- Sidebar -->
			{{ include('sidebar.html.twig') }}
			<!-- End of Sidebar -->
			<!-- Content Wrapper -->
			<div
				id="content-wrapper" class="d-flex flex-column bg-dark">
				<!-- Main Content -->
				<div id="content">
					<!-- Topbar -->
					{{ include('topbar.html.twig') }}
					<!-- End of Topbar -->
					<!-- Begin Page Content -->
					<div class="container-fluid">
					{% for type, flashes in app.flashes %}
						{% for message in flashes %}
							<div class="alert alert-{{ type }}">
								{{ message }}
							</div>
						{% endfor %}
					{% endfor %}
					{% block pageContent %}
                    {% endblock %}
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- End of Main Content -->
				<!-- Footer -->
				{{ include('footer.html.twig') }}
				<!-- End of Footer -->
			</div>
			<!-- End of Content Wrapper -->
		</div>
		<!-- End of Page Wrapper -->
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
			<i class="fas fa-angle-up"></i>
		</a>
		<!-- Logout Modal-->
		{{ include('logoutModal.html.twig') }}
        {% block javascripts %}
            {{ encore_entry_script_tags('alexey') }}
            <!-- Core plugin JavaScript-->
            {# <script src="vendor/jquery-easing/jquery.easing.min.js"></script> TODO: Maybe will be useful #}
            <!-- Page level plugins -->
            {# <script src="vendor/chart.js/Chart.min.js"></script> #}
            <!-- Page level custom scripts -->
            {# <script src="js/demo/chart-area-demo.js"></script> #}
            {# <script src="js/demo/chart-pie-demo.js"></script> #}
        {% endblock %}
	</body>
</html>
