<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		{{ encore_entry_link_tags('alexey') }}
		<title>
			{% block titleOverride %}
				{% if breadcrumbs is defined %}
					@
					{% for crumb in breadcrumbs %}
						|
						{{ crumb.name }}
					{% endfor %}
				{% else %}
					Alexey
				{% endif %}
			{% endblock %}
		</title>
	</head>
	<body class="text-blueGray-700 antialiased bg-nord1">
		<div id="root">
			{{ include('main_menu.html.twig') }}
			<div class="relative md:ml-64 bg-blueGray-50">
				{{ include('top_menu.html.twig') }}
				<div class="relative bg-nord3 md:pt-32 pb-32 pt-12">
					<div class="px-4 md:px-10 mx-auto w-full">
						<div>
							{% block pageContentPrimary %}
								<div class="flex flex-wrap">
									{% include 'card.html.twig'
									with {
										'iconClass': 'fas fa-quote-left',
										'iconBg': 'nord11',
										'headerText': 'Blah Blah',
										'headerValue': 'Lies',
										'bottomData': '<span class="text-red-500 mr-2"><i class="fas fa-arrow-down"></i>WOW</span><span class="whitespace-nowrap">OMG</span>'
										} only
									%}
									{% include 'card.html.twig'
									with {
										'iconClass': 'fas fa-brain',
										'iconBg': 'nord12',
										'headerText': 'Blam blam',
										'headerValue': 'Confusion'
										} only
									%}
								</div>
								<div class="flex flex-wrap">
									{% include 'card.html.twig'
									with {
										'iconClass': 'fas fa-angry',
										'iconBg': 'nord13',
										'headerText': 'Blim blim',
										'headerValue': 'Government 38%'
										} only
									%}
									{% include 'card.html.twig'
									with {
										'iconClass': 'far fa-chart-bar',
										'iconBg': 'nord14',
										'headerText': 'Blom blom',
										'headerValue': 'Control'
										} only
									%}
								</div>
							{% endblock %}
						</div>
					</div>
				</div>
				<div class="bg-nord1 px-4 md:px-10 mx-auto w-full -m-24">
					{% block pageContentSecondary %}
						{% include 'table.html.twig'
						with {
							'tableTitle' : 'Tytuł',
							'tableHeaders' : ['Łan', 'Dwa łany', 'tri', 'czetyre'],
							'tableData': [[1,2,3,4],[5,6,7,8]]
						} only
					%}
					{% endblock %}
					{% include 'footer.html.twig' %}
				</div>
			</div>
		</div>
		{% block javascripts %}
			<!-- additional javascripts -->
		{% endblock %}
		{{ encore_entry_script_tags('alexey') }}
	</body>
</html>
