{% if med_width is not defined %}
	{% set med_width = 6 %}
{% endif %}
{% if max_width is not defined %}
	{% set max_width = 4 %}
{% endif %}
<div class="w-full lg:w-{{ med_width }}/12 xl:w-{{ max_width }}/12 px-4{% if dynamicSrc is defined and dynamicSrc %} dynacard{% endif %}" {% if dynamicSrc is defined and dynamicSrc %} data-dynacard-src="{{ dynamicSrc }}" data-dynacard-refresh-rate="{% if refreshRate is defined and refreshRate %}{{ refreshRate }}{% else %}0{% endif %}" {% endif %}>
	{% if rawContent is defined and rawContent %}
		{{ rawContent|raw }}
	{% else %}
		{% include 'card_content.html.twig' %}
	{% endif %}
</div>
