<div class="w-full xl:w-12/12 mb-12 xl:mb-0 px-4 linear-chart-container">
	<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-nord0">
		<div class="rounded-t mb-0 px-4 py-3 bg-transparent">
			<div class="flex flex-wrap items-center">
				<div class="relative w-full max-w-full flex-grow flex-1">
					<h6 class="uppercase text-nord6 mb-1 text-xs font-semibold">
						{{ titleSmall|raw }}
					</h6>
					<h2 class="text-nord6 text-xl font-semibold">
						<i class="fas fa-circle-notch animate-spin-{{ chartRefresh }}"></i>
						{% if enablePausing is defined and enablePausing %}
							<button class="far fa-pause-circle linear-chart-pause-button"></button>
							<button class="far fa-play-circle linear-chart-play-button animate-pulse" style="display:none;"></button>
						{% endif %}
						<button class="fas fa-sync linear-chart-force-refresh-button"></button>
						{% if buttons is defined %}
							{% for button in buttons %}
								<a href="{{ button.href }}">
									<i class="{{ button.icon }}"></i>
								</a>
							{% endfor %}
						{% endif %}
						{{ titleBig|raw }}
					</h2>
				</div>
			</div>
		</div>
		<div class="p-4 flex-auto">
			<div class="relative" style="height:350px">
				<div class="chartjs-size-monitor">
					<div class="chartjs-size-monitor-expand">
						<div class=""></div>
					</div>
					<div class="chartjs-size-monitor-shrink">
						<div class=""></div>
					</div>
				</div>
				<canvas style="display: block;" class="chartjs-render-monitor chart-linear" data-chart-src="{{ chartSrc }}" data-chart-refresh="{{ chartRefresh }}" data-chart-is-paused="false"></canvas>
			</div>
		</div>
	</div>
</div>
