<ul
	class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
		<div class="sidebar-brand-icon">
			<i class="fas fa-laptop-house"></i>
		</div>
		<div class="sidebar-brand-text mx-3">Alexey
		</div>
	</a>

	<!-- Divider -->
	<hr	class="sidebar-divider my-0">
	<!-- Navigation links -->
	{% for top_menu_key, menu_item in alexeySideMenu() %}
		{% if menu_item.haveChildren %}
			<li class="nav-item{% if menu_item.isActive %} active {% endif %}">
				<a class="nav-link{% if not menu_item.isActive %} collapsed{% endif %}" href="#" data-toggle="collapse"
				 data-target="#collapseTopMenu{{ top_menu_key }}" aria-expanded="{% if menu_item.isActive %}true{% else %}false{% endif %}"
				  aria-controls="collapseTopMenu{{ top_menu_key }}">
					<i class="fas fa-fw {{ menu_item.icon }}"></i>
					<span>{{ menu_item.name }}</span>
				</a>
				<div id="collapseTopMenu{{ top_menu_key }}" class="collapse{% if menu_item.isActive %} show{% endif %}" aria-labelledby="headingPages" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						{% for childmenu_item in menu_item.children %}
							{% if childmenu_item.isHeading %}
								<h6 class="collapse-header">{{ childmenu_item.name }}</h6>
							{% elseif childmenu_item.isDivider %}
								<div class="collapse-divider"></div>
							{% else %}
								<a class="collapse-item" href="{{ childmenu_item.destination }}">{{ childmenu_item.name }}</a>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</li>
		{% elseif menu_item.isHeading %}
			<div class="sidebar-heading">{{ menu_item.name }}</div>
		{% elseif menu_item.isDivider %}
			<hr class="sidebar-divider">
		{% else %}
			<li class="nav-item{% if menu_item.isActive %} active {% endif %}">
				<a class="nav-link" href="{{ menu_item.destination }}">
					<i class="fas fa-fw {{ menu_item.icon }}"></i>
					<span>{{ menu_item.name }}</span>
				</a>
			</li>
		{% endif %}
	{% endfor %}

	<!-- Divider -->
	<hr	class="sidebar-divider d-none d-md-block">
	<!-- Sidebar Toggler (Sidebar) -->
	{# <div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div> #}
</ul>
