{% if max_width is not defined %}
	{% set max_width = 12 %}
{% endif %}
{% if hide_columns is not defined %}
	{% set hide_columns = [] %}
{% endif %}
{% set light = 'nord4' %}
{% set dark = 'nord0' %}
{% if no_hover is not defined %}
	{% set no_hover = false %}
{% endif %}
<div class="flex flex-wrap">
	<div class="w-full xl:w-{{ max_width }}/12 mb-12 xl:mb-0 px-4">
		<div class="relative flex flex-col min-w-0 break-words bg-{{ light }} w-full mb-6 shadow-lg rounded">
			<div class="rounded-t mb-0 px-4 py-3 border-0">
				<div class="flex flex-wrap items-center">
					<div class="relative w-full px-4 max-w-full flex-grow flex-1">
						<h3 class="font-semibold text-base text-{{ dark }}">
							{% if tableTitle is defined %}
								{{ tableTitle|raw }}
							{% endif %}
						</h3>
					</div>
					<div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
						{% if buttons is defined %}
							{% for button in buttons %}
								<a class="bg-nord2 text-{{ light }} hover:bg-nord3 text-xs font-bold px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1" style="transition:all .15s ease" href="{{ button.href }}">
									{{ button.text }}
								</a>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div class="block w-full overflow-x-auto">
				<table class="items-center w-full bg-transparent border-collapse">
					{% if tableHeaders is defined %}
						<thead>
							<tr>
								{% for header in tableHeaders %}
									{% if loop.index not in hide_columns %}
										<th class="px-6 bg-{{ light }} text-{{ dark }} align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
											{{ header|raw }}
										</th>
									{% endif %}
								{% endfor %}
							</tr>
						</thead>
					{% endif %}
					<tbody>
						{% for table_row in tableData %}
							<tr class="{% if not no_hover %}hover:bg-{{ dark }} hover:text-{{ light }}{% endif %}">
								{% for cell in table_row %}
									{% if loop.index not in hide_columns %}
										<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
											{{ cell|raw }}
										</td>
									{% endif %}
								{% endfor %}
							</tr>
						{% else %}
							<tr>
								<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
									--- {{ 'empty_data'|localised }} ---
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
