<div class="hidden bg-nord4 text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1" style="min-width: 12rem;" id="{{ id }}">
	<a href="{{ path('settings_user') }}" class="hover:bg-nord0 hover:text-nord4 text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-nord4 text-blueGray-700">{{ 'menu_record'|localised('settings') }}</a>
	<a href="{{ path('api_local_settings') }}" class="hover:bg-nord0 hover:text-nord4 text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-nord4 text-blueGray-700">{{ 'mobile_api_settings'|localised('settings') }}</a>
	<div class="h-0 my-2 border border-solid border-nord5"></div>
	<a href="/logout" class="hover:bg-nord0 hover:text-nord4 text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-nord4 text-blueGray-700">{{ 'logout'|localised }}</a>
</div>
