<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		{{ encore_entry_link_tags('alexey') }}
		<title>Alexey | Login</title>
	</head>
	<body class="text-gray-800 antialiased bg-nord1">
		<main>
			<section class="absolute w-full h-full">
				<div class="container mx-auto px-4 h-full">
					<div class="flex content-center items-center justify-center h-full">
						<div class="w-full lg:w-4/12 px-4">
							<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-nord2 border-0">
								<div class="flex-auto px-4 lg:px-10 py-10 pt-0">
									{% if error %}
										<div class="bg-nord12 border mb-3 mt-6 border-nord11 text-nord1 px-4 py-3 rounded relative" role="alert">
											<strong class="font-bold">{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
										</div>
									{% endif %}
									<form method="post">
										<div class="flex flex-wrap flex-row-reverse w-full mb-3 mt-6">
											<a href="{{ path('otp_login') }}" class="bg-nord3 text-nord6 hover:bg-nord9 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 " style="transition: all 0.15s ease 0s;">
												<i class="fas fa-key"></i>
											</a>
										</div>
										<div class="relative w-full mb-3">
											<input type="text" value="{{ last_username }}" name="username" class="border-0 px-3 py-3 placeholder-gray-400 text-nord4 bg-nord3 rounded text-sm shadow focus:outline-none focus:ring w-full" id="inputUsername" style="transition: all 0.15s ease 0s;" placeholder="Enter your username..." required>
										</div>
										<div class="relative w-full mb-3">
											<input type="password" name="password" class="border-0 px-3 py-3 placeholder-gray-400 text-nord4 bg-nord3 rounded text-sm shadow focus:outline-none focus:ring w-full" placeholder="Password" style="transition: all 0.15s ease 0s;"/>
										</div>
										<div class="text-center mt-6">
											<button class="bg-nord3 text-nord6 hover:bg-nord9 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full" type="submit" style="transition: all 0.15s ease 0s;">
												<i class="fas fa-sign-in-alt"></i>
											</button>
										</div>
										<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
