<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Alexey - Login</title>

		<!-- Custom fonts for this template-->
		{{ encore_entry_link_tags('alexey') }}
		<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<!-- Custom styles for this template-->
	</head>
	<body class="bg-gradient-dark">
		<div
			class="container">

			<div class="row justify-content-center">
				<div class="col-xl-10 col-lg-12 col-md-9">
					<div class="card o-hidden border-0 shadow-lg my-5">
						<div
							class="card-body p-0">
							<!-- Nested Row within Card Body -->
							<div class="row">
								<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
								<div class="col-lg-6">
									<div class="p-5">
										<div class="text-center">
											<h1 class="h4 text-gray-400 mb-4">Login to Alexey</h1>
										</div>
										<form class="user" method="post">
                                            {% if error %}
                                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                            {% endif %}
											<div class="form-group">
												<input type="text" value="{{ last_username }}" name="username" class="form-control form-control-user" id="inputUsername"  placeholder="Enter your username..." required autofocus>
											</div>
											<div class="form-group">
												<input type="password" name="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
											</div>
											{# <div class="form-group">
												<div class="custom-control custom-checkbox small">
													<input type="checkbox" name="_remember_me" class="custom-control-input" id="customCheck">
													<label class="custom-control-label" for="customCheck">Remember Me</label>
												</div>
											</div> #}
                                                <button class="btn btn-primary btn-user btn-block" type="submit">
                                                    Sign in
                                                </button>
											{# <hr> #}
											{# <a href="index.html" class="btn btn-google btn-user btn-block">
												<i class="fab fa-google fa-fw"></i>
												Login with Google
											</a> #}
											{# <a href="index.html" class="btn btn-facebook btn-user btn-block">
												<i class="fab fa-facebook-f fa-fw"></i>
												Login with Facebook
											</a> #}
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
										</form>
										{# <hr> #}
										{# <div class="text-center">
											<a class="small" href="forgot-password.html">Forgot Password?</a>
										</div> #}
										{# <div class="text-center">
											<a class="small" href="register.html">Create an Account!</a>
										</div> #}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ encore_entry_script_tags('alexey') }}
	</body>
</html>
