{% extends 'base.html.twig' %}

{% block title %}Alexey | {{ 'menu_record'|localised('network_machines') }} | {{ network_machine.name }}{% endblock %}

{% block pageContent %}
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-400">{{ 'menu_record'|localised('network') }} ~> <a href="{{ path('network_machine_index') }}" class="text-info">{{ 'menu_record'|localised('network_machines') }}</a> ~> #{{ network_machine.id }} - {{ network_machine.name }}</h1>
	</div>
    {{ include('network_machine/_form.html.twig') }}
    <div class="row">
        <a href="{{ path('network_machine_index') }}" class="btn btn-success">{{ 'back'|localised }}</a>
        {{ include('network_machine/_delete_form.html.twig') }}
    </div>
{% endblock %}
