{% extends 'base.html.twig' %}

{% block title %}Alexey | {{ 'menu_record'|localised('network_machines') }} | New{% endblock %}

{% block pageContent %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-400">{{ 'menu_record'|localised('network') }} ~> <a href="{{ path('network_machine_index') }}" class="text-info">{{ 'menu_record'|localised('network_machines') }}</a> ~> New Machine</h1>
	</div>
    {{ include('network_machine/_form.html.twig') }}
    <a href="{{ path('network_machine_index') }}" class="btn btn-success">Back to list</a>
{% endblock %}
