{% extends 'base.html.twig' %}

{% block title %}Alexey | Machines | {{ network_machine.name }}{% endblock %}

{% block pageContent %}
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-400">Network ~> <a href="{{ path('network_machine_index') }}" class="text-info">Machines</a> ~> #{{ network_machine.id }} - {{ network_machine.name }}</h1>
	</div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ network_machine.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ network_machine.name }}</td>
            </tr>
            <tr>
                <th>Uri</th>
                <td>{{ network_machine.uri }}</td>
            </tr>
            <tr>
                <th>MAC address</th>
                <td>{{ network_machine.macAddress }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <a href="{{ path('network_machine_index') }}" class="btn btn-success">Back to list</a>
        <a href="{{ path('network_machine_edit', {'id': network_machine.id}) }}" class="btn btn-warning">Edit</a>
        {{ include('network_machine/_delete_form.html.twig') }}
    </div>
{% endblock %}
