{% extends 'base.html.twig' %}

{% block title %}Alexey | Dashboard
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		setTimeout(() => {  window.location.reload(false); }, {{dashboard_data.refresh_time}});
	</script>
{% endblock %}

{% block pageContent %}
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-400">Dashboard</h1>
	</div>
	{% if dashboard_data.machines | length > 0 %}
		<div class="row">
			{% for machine in dashboard_data.machines %}
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card {% if machine.isReachable %} border-left-success {% elseif machine.lastSeen %} border-left-warning {% else %} border-left-danger {% endif %} shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold {% if machine.isReachable %} text-success {% elseif machine.lastSeen %} text-warning {% else %} text-danger {% endif %} text-uppercase mb-1">
										Machine:
										{{machine.name}}</div>
									{% if machine.lastSeen %}
										<div class="h5 mb-0 font-weight-bold text-gray-800">{{machine.lastSeen|date("Y.m.d H:i:s")}}</div>
									{% endif %}
								</div>
								<div class="col-auto">
									{% if machine.canBeWoken %}
										<a href="{{ path('network_machine_wake', {'id': machine.id, 'backRoute': 'dashboard'}) }}">
											<i class="fas fa-power-off fa-2x text-success"></i>
										</a>
									{% else %}
										<i class="fas fa-server fa-2x text-gray-300"></i>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	{% endif %}
	<div class="row">
		<div class="col-xl-12 col-lg-12">
			<div class="card shadow bg-dark mb-4">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Weather</h6>
				</div>
				<div class="card-body">
					<img style="filter: invert(80%)" src="https://www.meteo.pl/um/metco/leg_um_pl_cbase_256.png">
					<img style="filter: invert(80%)" src="https://www.meteo.pl/um/metco/mgram_pict.php?ntype=0u&row=367&col=262&lang=pl">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
