{% extends 'base.html.twig' %}

{% block title %}Alexey | Dashboard
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		setTimeout(() => {
window.location.reload(false);
}, {{ dashboard_data.refresh_time }});
	</script>
{% endblock %}

{% block pageContent %}
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-400">Dashboard</h1>
	</div>
	{% if dashboard_data.machines | length > 0 %}
		<div class="row">
			<h5 class="text-gray-400">Network Machines</h1>
		</div>
		<div class="row">
			{% for machine in dashboard_data.machines %}
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card {% if machine.isReachable %} border-left-success {% elseif machine.lastSeen %} border-left-warning {% else %} border-left-danger {% endif %} shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold {% if machine.isReachable %} text-success {% elseif machine.lastSeen %} text-warning {% else %} text-danger {% endif %} text-uppercase mb-1">
										Machine:
										{{machine.name}}</div>
									{% if machine.lastSeen %}
										<div class="h5 mb-0 font-weight-bold text-gray-800">{{machine.lastSeen|date("Y.m.d H:i:s")}}</div>
									{% endif %}
								</div>
								<div class="col-auto">
									{% if machine.canBeWoken %}
										<a href="{{ path('network_machine_wake', {'id': machine.id, 'backRoute': 'dashboard'}) }}">
											<i class="fas fa-power-off fa-2x text-success"></i>
										</a>
									{% else %}
										<i class="fas fa-server fa-2x text-gray-300"></i>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		{# TODO: refactor cards #}
		{% if dashboard_data.network_statistic is defined %}
			<div class="row">
				<h5 class="text-gray-400">Network Usage</h1>
			</div>
			<div class="row">
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card  border-left-success shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold  text-success text-uppercase mb-1">
										Optimal transfer:
									</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800">{{ dashboard_data.network_statistic.transferRateLeftReadable }}</div>
								</div>
								<div class="col-auto">
									<a href="{{ path('network_usage') }}">
										<i class="far fa-eye fa-2x text-success"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card  border-left-success shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold  text-success text-uppercase mb-1">
										Traffic left:
									</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800">{{ dashboard_data.network_statistic.trafficLeftReadable }}</div>
								</div>
								<div class="col-auto">
									<a href="{{ path('network_usage') }}">
										<i class="far fa-eye fa-2x text-success"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card  border-left-success shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold  text-success text-uppercase mb-1">
										Billing window end:
									</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800">{{ dashboard_data.network_statistic.timeFrame.billingFrameEnd | date("Y.m.d H:i:s") }}</div>
								</div>
								<div class="col-auto">
									<a href="{{ path('network_usage') }}">
										<i class="far fa-eye fa-2x text-success"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}
{% endblock %}
