{% extends 'base.html.twig' %}
{% set breadcrumbs = [
	{'name': 'menu_record'|localised('money')},
	{'name': 'menu_record_transfers'|localised('money')},
	]
%}

{% block javascripts %}
	{{ encore_entry_script_tags('pie-chart') }}
{% endblock %}

{% block pageContentPrimary %}
	<div class="justify-center -my-4 flex flex-wrap">
		{% for pill in month_selector_pills %}
			<a class="{% if pill.active %}bg-nord9{% else %}bg-nord1{% endif %} py-1 my-1 px-4 shadow-md no-underline rounded-full text-white font-sans font-semibold text-sm border-blue btn-primary hover:text-white hover:bg-blue-light focus:outline-none active:shadow-none mr-2" href="{{ pill.path }}">
				{{ pill.name }}
			</a>
		{% endfor %}
	</div>
{% endblock %}


{% block pageContentSecondary %}
	{% set table_data = {} %}

	{% for money_transfer in money_transfers %}
		{% set actions %}
		{% include 'table_action_button.html.twig' with {
			'href': path('money_transfer_show', {'id': money_transfer.id}),
			'name': 'show'|localised,
		} only %}
		{% include 'table_action_button.html.twig' with {
			'href': path('money_transfer_edit', {'id': money_transfer.id}),
			'name': 'edit'|localised ,
		} only %}
		{% include 'table_action_button.html.twig' with {
			'href': path('money_transfer_split', {'id': money_transfer.id}),
			'name': 'split'|localised('money'),
		} only %}
		{% endset %}

		{% set sourcenode %}
		{{ money_transfer.sourceNode.name }}
		<a href="{{ path('money_node_show', {'id': money_transfer.sourceNode.id}) }}">
			<i class="fas fa-link"></i>
		</a>
		{% endset %}

		{% set targetnode %}
		{{ money_transfer.targetNode.name }}
		<a href="{{ path('money_node_show', {'id': money_transfer.targetNode.id}) }}">
			<i class="fas fa-link"></i>
		</a>
		{% endset %}

		{% set table_data = table_data|merge([{
			'operation_date': money_transfer.operationDate ? money_transfer.operationDate|date('Y-m-d') : '',
			'amount': money_transfer.amount,
			'source_node': sourcenode,
			'target_node': targetnode,
			'actions': actions,
			'comment': money_transfer.comment,
		}]) %}
	{% endfor %}

	{% include 'table.html.twig' with {
		'tableTitle': 'menu_record_nodes'|localised('money'),
		'tableHeaders': [
			'operation_date'|localised('money'),
			'amount'|localised('money'),
			'source_node'|localisedFormLabel('money'),
			'target_node'|localisedFormLabel('money'),
			'actions'|localised,
			'comment'|localised,
		],
		'tableData': table_data,
		'buttons': [
			{'href': path('money_transfer_new'), text: 'add'|localised},
		],
	} only %}
	<div class="flex flex-wrap items-stretch">
		{% include 'chart_pie.html.twig' with {
			'titleSmall': '',
			'titleBig': 'outcome'|localised('money'),
			'chartSrc': path('money_edge_transfers_chart_data', {'type': 'outcome', 'month': month}),
		} only %}

		{% include 'chart_pie.html.twig' with {
			'titleSmall': '',
			'titleBig': 'outcome'|localised('money'),
			'chartSrc': path('money_edge_transfers_chart_data', {'type': 'outcome_grouped', 'month': month}),
		} only %}

		{% include 'chart_pie.html.twig' with {
			'titleSmall': '',
			'titleBig': 'income'|localised('money'),
			'chartSrc': path('money_edge_transfers_chart_data', {'type': 'income', 'month': month}),
		} only %}
	</div>
{% endblock %}
