{% extends 'base.html.twig' %}

{% block title %}MoneyTransfer index
{% endblock %}

{%block pageContent %}
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-400">{{ 'menu_record'|localised('money') }}
			~>
			{{ 'menu_record_transfers'|localised('money') }}</h1>
	</div>
	<div class="row">
		<div class="col-xl-12 col-lg-12">
			<div class="card shadow bg-dark mb-4">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">{{ 'menu_record_transfers'|localised('money') }}</h6>
				</div>
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
								<th>{{ 'id'|localised }}</th>
								<th>{{ 'operation_date'|localised('money') }}</th>
								<th>{{ 'amount'|localised('money') }}</th>
								<th>{{ 'exchange_rate'|localised('money') }}</th>
								<th>{{ 'comment'|localised }}</th>
								<th>{{ 'actions'|localised }}</th>
							</tr>
						</thead>
						<tbody>
							{% for money_transfer in money_transfers %}
								<tr>
									<td>{{ money_transfer.id }}</td>
									<td>{{ money_transfer.operationDate ? money_transfer.operationDate|date('Y-m-d') : '' }}</td>
									<td>{{ money_transfer.amount }}</td>
									<td>{{ money_transfer.exchangeRate }}</td>
									<td>{{ money_transfer.comment }}</td>
									<td>
										<a href="{{ path('money_transfer_show', {'id': money_transfer.id}) }}" class="btn btn-sm btn-success">{{ 'show'|localised }}</a>
										<a href="{{ path('money_transfer_edit', {'id': money_transfer.id}) }}" class="btn btn-sm btn-warning">{{ 'edit'|localised }}</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="6">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					<a class="btn btn-success" href="{{ path('money_transfer_new') }}">{{ 'add'|localised }}</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
