{% extends 'base.html.twig' %}

{% block title %}Alexey | Transmission
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('alexey') }}
	{{ encore_entry_script_tags('linear-chart') }}
{% endblock %}

{% block pageContent %}
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-400">{{ 'menu_record'|localised('network') }}
			~> Transmission |
			<a href="{{ path('network_transmission_settings') }}" class="fas fa-cog text-info"></a>
		</h1>
	</div>
	{{ 'throttling'|localised('network_usage') }}:
	{{ current }}
	kB/s
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">{{ 'simulation'|localised }}:
				{{ 'changes_in_time'|localised('network_usage') }}</h6>
		</div>
		<div class="card-body">
			<div class="chart-area">
				<div class="chartjs-size-monitor">
					<div class="chartjs-size-monitor-expand">
						<div class=""></div>
					</div>
					<div class="chartjs-size-monitor-shrink">
						<div class=""></div>
					</div>
				</div>
				<canvas
					style="display: block; width: 1041px; height: 320px;" 
					class="chartjs-render-monitor chart-linear"
					data-chart-src="{{ path('network_transmission_simulation', {type: 'time'}) }}"
					data-chart-refresh="30"
					width="1041"
					height="320"
				></canvas>
			</div>
			<hr>
		</div>
	</div>
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">{{ 'simulation'|localised }}:
				{{ 'throttling_by_optimal_speed'|localised('network_usage') }}</h6>
		</div>
		<div class="card-body">
			<div class="chart-area">
				<div class="chartjs-size-monitor">
					<div class="chartjs-size-monitor-expand">
						<div class=""></div>
					</div>
					<div class="chartjs-size-monitor-shrink">
						<div class=""></div>
					</div>
				</div>
				<canvas
					style="display: block; width: 1041px; height: 320px;" 
					class="chartjs-render-monitor chart-linear"
					data-chart-src="{{ path('network_transmission_simulation', {type: 'speed'}) }}"
					data-chart-refresh="30"
					width="1041" height="320"
				></canvas>
			</div>
			<hr>
		</div>
	</div>

{% endblock %}
