{% extends 'base.html.twig' %}

{% block title %}Alexey | Transmission | {{ 'app.settings'|trans }}
{% endblock %}

{% block pageContent %}
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-400">
			{{ 'app.network'|trans }} ~> <a href="{{ path('network_transmission') }}" class="text-info">Transmission</a> ~> {{ 'app.settings'|trans }}
		</h1>
	</div>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-warning">{{ 'app.forms.labels.save'|trans }}</button>
	{{ form_end(form) }}
	Current proposed speed:
	{{ current }}
	kB/s
{% endblock %}
