{% extends 'base.html.twig' %}

{% block title %}Edit MoneyNode
{% endblock %}

{% block pageContent %}
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-400">{{ 'menu_record'|localised('money') }} ~> <a href="{{ path('money_node_index') }}" class="text-info">{{ 'menu_record_nodes'|localised('money') }}</a> ~> #{{ money_node.id }} - {{ money_node.name }}</h1>
	</div>
	{{ include('money_node/_form.html.twig') }}
	<div class="row">
		<a href="{{ path('money_node_index') }}" class="btn btn-success">{{ 'back'|localised }}</a>
		{% if money_node.canBeDeleted %}
			{{ include('money_node/_delete_form.html.twig') }}
		{% endif %}
	</div>
{% endblock %}
