{% extends 'base.html.twig' %}

{% block title %}Alexey | {{ 'menu_record'|localised('money') }}
{% endblock %}

{% block pageContent %}
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-400">{{ 'menu_record'|localised('money') }} ~> {{ 'menu_record_nodes'|localised('money') }}</h1>
	</div>
	<div class="row">
		<div class="col-xl-12 col-lg-12">
			<div class="card shadow bg-dark mb-4">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">{{ 'menu_record_nodes'|localised('money') }}</h6>
				</div>
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
								<th>{{ 'id'|localised }}</th>
								<th>{{ 'name'|localised }}</th>
								<th>{{ 'node_type'|localisedFormLabel('money') }}</th>
								<th>{{ 'balance'|localised('money') }}</th>
								<th>{{ 'actions'|localised }}</th>
							</tr>
						</thead>
						<tbody>
							{% for money_node in money_nodes %}
								<tr>
									<td>{{ money_node.id }}</td>
									<td>{{ money_node.name }}</td>
									<td>{{ money_node.typeCode|localisedFormValue('node_type', 'money') }}</td>
									<td>{{ money_node.balance }}</td>
									<td>
										<a href="{{ path('money_node_show', {'id': money_node.id}) }}" class="btn btn-sm btn-success">{{ 'show'|localised }}</a>
										<a href="{{ path('money_node_edit', {'id': money_node.id}) }}" class="btn btn-sm btn-warning">{{ 'edit'|localised }}</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="5">{{ 'empty_data'|localised }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					<a class="btn btn-success" href="{{ path('money_node_new') }}">{{ 'add'|localised }}</a>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
