{% extends 'base.html.twig' %}
{% set breadcrumbs = [
	{'name': 'menu_record'|localised('money')},
	{'name': 'menu_record_nodes'|localised('money')},
	]
%}


{% block pageContentPrimary %}
	{% set groups = settings.choices %}
	{% set groups = {'*': null}|merge(groups) %}
	{% if groups|length > 2 %}
		<div class="justify-center -my-4 flex flex-wrap">
			{% for group_name, group_id in groups %}
				<a class="py-1 my-1 px-4 shadow-md no-underline rounded-full text-white font-sans font-semibold text-sm border-blue btn-primary hover:text-white hover:bg-blue-light focus:outline-none active:shadow-none mr-2{% if group_id is same as (node_group) %} bg-nord9{% else %} bg-nord1{% endif %}" href="{{ path('money_node_index', {groupId: group_id}) }}">
					{{ group_name }}
				</a>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block pageContentSecondary %}
	{% if node_group is null %}
		{% set hide_columns = [] %}
	{% else %}
		{% set hide_columns = [3] %}
	{% endif %}
	{% set table_data = {} %}

	{% for money_node in money_nodes %}
		{% set actions %}
		<a href="{{ path('money_node_show', {'id': money_node.id}) }}" class="bg-nord2 text-white hover:bg-nord3 text-xs font-bold px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1">{{ 'show'|localised }}</a>
		<a href="{{ path('money_node_edit', {'id': money_node.id}) }}" class="bg-nord2 text-white hover:bg-nord3 text-xs font-bold px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1">{{ 'edit'|localised }}</a>
		{% endset %}

		{% if money_node.isEdgeType %}
			{% set balance = '' %}
		{% else %}
			{% set balance = money_node.balance(null) %}
		{% endif %}

		{% if money_node.selectable %}
			{% set visibility_icon = '<i class="far fa-eye"></i> ' %}
		{% else %}
			{% set visibility_icon = '<i class="far fa-eye-slash"></i> ' %}
		{% endif %}

		{% set table_data = table_data|merge([{
			'name': visibility_icon ~ money_node.name,
			'node_type': money_node.typeCode|localisedFormValue('node_type', 'money'),
			'node_group': settings.groupName(money_node.nodeGroup),
			'balance': balance,
			'actions': actions
		}]) %}
	{% endfor %}

	{% include 'table.html.twig' with {
		'tableTitle': 'menu_record_nodes'|localised('money'),
		'tableHeaders': [
			'name'|localised,
			'node_type'|localisedFormLabel('money'),
			'node_group'|localisedFormLabel('money'),
			'balance'|localised('money'),
			'actions'|localised,
		],
		'tableData': table_data,
		'buttons': [
			{'href': path('money_node_new'), text: 'add'|localised},
			{'href': path('money_node_settings'), text: 'settings'|localised},
		],
		'hide_columns': hide_columns,
	} only %}
{% endblock %}
