{% extends 'base.html.twig' %}

{% block title %}Alexey | Network Usage
{% endblock %}

{% block javascripts %}
	<script>
		window.chart_data_src = '{{ chart_data_src | raw }}';
	</script>
	{{ encore_entry_script_tags('alexey') }}
	{{ encore_entry_script_tags('network-usage-chart') }}
{% endblock %}

{% block pageContent %}
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-400">Network ~> Usage |
			<a href="{{ path('network_usage_settings') }}" class="fas fa-cog text-info"></a>
		</h1>
	</div>
	<table class="table table-dark">
		<thead>
			<tr>
				<th scope="col">Traffic left</th>
				<th scope="col">Optimal speed</th>
				<th scope="col">Billing window end</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ data_current.trafficLeftReadable }}</td>
				<td>{{ data_current.transferRateLeftReadable }}</td>
				<td>{{ data_current.timeFrame.billingFrameEnd | date("Y.m.d H:i:s") }}</td>
			</tr>
		</tbody>
	</table>
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Outside traffic speed</h6>
		</div>
		<div class="card-body">
			<div class="chart-area">
				<div class="chartjs-size-monitor">
					<div class="chartjs-size-monitor-expand">
						<div class=""></div>
					</div>
					<div class="chartjs-size-monitor-shrink">
						<div class=""></div>
					</div>
				</div>
				<canvas id="myAreaChart" style="display: block; width: 1041px; height: 320px;" class="chartjs-render-monitor" width="1041" height="320"></canvas>
			</div>
			<hr>
		</div>
	</div>
{% endblock %}
