{% extends 'base.html.twig' %}

{% block title %}Alexey | {{ 'app.modules.network_usage.menu_record'|trans }}
{% endblock %}

{% block javascripts %}
	<script>
		window.chart_data_src = '{{ chart_data_src|raw }}';
	</script>
	{{ encore_entry_script_tags('alexey') }}
	{{ encore_entry_script_tags('network-usage-chart') }}
	<script>
		let chartRoutes = {{ chart_routes|json_encode|raw }};
let chartChanger = document.getElementById('network_chart_chartType');
chartChanger.addEventListener('change', (event) => {
let elemVal = event.target.value;
let route = chartRoutes[elemVal];
window.location.replace(route);
});
	</script>
{% endblock %}

{% block pageContent %}
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-400">{{ 'app.modules.network.menu_record'|trans }} ~> {{ 'app.modules.network_usage.menu_record'|trans }} |
			<a href="{{ path('network_usage_settings') }}" class="fas fa-cog text-info"></a>
		</h1>
	</div>
	<table class="table table-dark">
		<thead>
			<tr>
				<th scope="col">{{ 'app.modules.network_usage.traffic_left'|trans }}</th>
				<th scope="col">{{ 'app.modules.network_usage.current_speed'|trans }}</th>
				<th scope="col">{{ 'app.modules.network_usage.optimal_speed'|trans }}</th>
				<th scope="col">{{ 'app.modules.network_usage.throttling'|trans }}</th>
				<th scope="col">{{ 'app.modules.network_usage.billing_window_end'|trans }}</th>
				<th scope="col">{{ 'app.modules.network_usage.chart_type'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td id="current_traffic_left"></td>
				<td id="current_transfer_rate"></td>
				<td id="current_transfer_rate_left"></td>
				<td id="current_throttling"></td>
				<td id="current_billing_frame_end"></td>
				<td>
					{{ form_start(chart_selector_form) }}
					{{ form_widget(chart_selector_form) }}
					{{ form_end(chart_selector_form) }}
				</td>
			</tr>
		</tbody>
	</table>
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">{{ 'app.modules.network_usage.outside_traffic'|trans }}</h6>
		</div>
		<div class="card-body">
			<div class="chart-area">
				<div class="chartjs-size-monitor">
					<div class="chartjs-size-monitor-expand">
						<div class=""></div>
					</div>
					<div class="chartjs-size-monitor-shrink">
						<div class=""></div>
					</div>
				</div>
				<canvas id="myAreaChart" style="display: block; width: 1041px; height: 320px;" class="chartjs-render-monitor" width="1041" height="320"></canvas>
			</div>
			<hr>
		</div>
	</div>
{% endblock %}
