{% extends 'base.html.twig' %}
{% set breadcrumbs = [
	{'name': 'menu_record'|localised('network')},
	{'name': 'menu_record'|localised('network_usage'), 'href': path('network_usage')},
	] %}

{% block javascripts %}
	{{ encore_entry_script_tags('linear-chart') }}
	<script>
		let chartRoutes = {{ chart_routes|json_encode|raw }};
let chartChanger = document.getElementById('network_chart_chartType');
chartChanger.addEventListener('change', (event) => {
let elemVal = event.target.value;
let route = chartRoutes[elemVal];
window.location.replace(route);
});
	</script>
{% endblock %}


{% block pageContentPrimary %}

	{% set rendered_form %}
	{{ form_start(chart_selector_form) }}
	{{ form_widget(chart_selector_form) }}
	{{ form_end(chart_selector_form) }}
	{% endset %}

	{% include 'table.html.twig' with {
		'tableTitle': '',
		'tableHeaders': [
			'traffic_left'|localised('network_usage'),
			'current_speed'|localised('network_usage'),
			'optimal_speed'|localised('network_usage'),
			'throttling'|localised('network_usage'),
			'billing_window_end'|localised('network_usage'),
			'chart_type'|localised
		],
		'tableData': [[
			'<div id="current_traffic_left"></div>',
			'<div id="current_transfer_rate"></div>',
			'<div id="current_transfer_rate_left"></div>',
			'<div id="current_throttling"></div>',
			'<div id="current_billing_frame_end"></div>',
			rendered_form,
			]],
		'no_hover': true,
	} only
%}
{% endblock %}


{% block pageContentSecondary %}
	<div class="flex flex-wrap">
		{% include 'chart_linear.html.twig' with {
			'titleSmall': '',
			'titleBig': 'outside_traffic'|localised('network_usage'),
			'chartSrc': path('network_usage_chart_data', {chartType: chart_type}),
			'chartRefresh': chartRefresh,
			'enablePausing': true,
			'buttons': [
				{
					'href': path('mobile_signal'),
					'icon': 'fas fa-signal',
				},
				{
					'href': path('network_usage_settings'),
					'icon': 'fas fa-cog',
				},
			],
		} only %}
	</div>
{% endblock %}
