{% extends 'base.html.twig' %}

{% block title %}Alexey | {{ 'app.modules.network_usage.menu_record'|trans }}
{% endblock %}

{% block pageContent %}
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-400">{{ 'app.modules.network.menu_record'|trans }} ~> <a href="{{ path('network_usage') }}" class="text-info">{{ 'app.modules.network_usage.menu_record'|trans }}</a> ~> {{ 'app.modules.settings.menu_record'|trans }} </h1>
	</div>
	    {{ form_start(form) }}
    	{{ form_widget(form) }}
    	<button class="btn btn-warning">{{ 'app.modules.common.forms.labels.save'|trans }}</button>
		{{ form_end(form) }}
{% endblock %}
